html {
  background-color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.footeer {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.footeer > div > a {
  padding-right: 40px;
  margin-top: auto;
}
.text {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  text-align: justify;
}
.cakery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
